* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Helvetica;
  letter-spacing: 0.03em;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header .ab-navbar {
  position: fixed;
  width: 100%;
  font-size: 1.6em;
}
header .ab-navbar .ab-navbar-menu-bar {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
}
header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-brand {
  margin: 5px;
}
header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-brand .ab-brand {
  max-width: 40px;
  max-height: 40px;
}
header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list .ab-navbar-group {
  display: flex;
  width: 100%;
}
header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list .ab-navbar-group .ab-navbar-group-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list .ab-navbar-group .ab-navbar-group-item:hover {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 0px 9px -4px rgba(22, 22, 22, 0.5);
}
header .ab-navbar .ab-navbar-mobile-list {
  display: none;
}
@media only screen and (max-width: 615px) {
  header .ab-navbar .ab-navbar-menu-bar {
    position: absolute;
    width: 100%;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list {
    display: block;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: -73px;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list .ab-navbar-group {
    flex-direction: column;
    background: #F7F7F7;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-list .ab-navbar-group .ab-navbar-group-item {
    margin: 10px 0;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar {
    display: none;
  }
}
@media only screen and (max-width: 615px) and (max-width: 615px) {
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar {
    display: flex;
    align-items: center;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-button {
    display: block;
    width: 50px;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-button .ab-navbar-menu-border {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 4px;
    border: 1px solid #333333;
    padding: 2px;
    border-radius: 4px;
    height: 30px;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-button .ab-navbar-menu-border .ab-navbar-menu-item {
    width: 100%;
    height: 3px;
    background: #333333;
    border-radius: 2px;
    transition: all 0.3s ease-out;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-button:hover {
    cursor: pointer;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-active-button .ab-navbar-menu-border .ab-navbar-menu-item:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-active-button .ab-navbar-menu-border .ab-navbar-menu-item:nth-child(2) {
    display: none;
  }
  header .ab-navbar .ab-navbar-menu-bar .ab-navbar-menu-button-bar .ab-navbar-menu-active-button .ab-navbar-menu-border .ab-navbar-menu-item:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}

section .ab-cardsite {
  width: 100%;
  height: 100%;
  background: url(/images/plane_mountains-HD.jpg) center bottom no-repeat;
}
section .ab-cardsite .ab-cardsite-banner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer {
  display: flex;
  background: rgba(22, 22, 22, 0.5);
  width: 100%;
  justify-content: center;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container {
  display: flex;
  flex-direction: column;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-logo-container {
  display: flex;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-logo-container .ab-cardsite-logo {
  max-width: 10em;
  max-height: 10em;
  margin: 0 auto;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-title-container {
  display: flex;
  flex-direction: column;
  background: #ffffff80;
  padding: 16px;
  border-radius: 2px;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-title-container span {
  text-align: center;
  line-height: 2em;
  color: #1B1B1B;
  padding: 0 16px;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-title-container .ab-cardsite-title-name {
  font-size: 2em;
  box-shadow: 0px 0px 30px 9px #a5e0dd33;
  margin-bottom: 3px;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-title-container .ab-cardsite-title-profession {
  font-size: 2em;
  background: rgba(45, 45, 45, 0.8);
  color: #f1f5d4;
}
section .ab-cardsite .ab-cardsite-banner .ab-cardsite-layer .ab-cardsite-container .ab-cardsite-title-container .ab-cardsite-title-specialization {
  font-size: 2em;
  background: rgba(45, 45, 45, 0.8);
  color: #f1f5d4;
}
