* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Helvetica;
}

img {
  max-width: 100%;
}

header .ab-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: #F7F7F7;
}
header .ab-navbar .ab-navbar-brand .ab-brand {
  max-width: 29px;
  max-height: 29px;
}
header .ab-navbar .ab-navbar-group {
  display: flex;
  width: 100%;
}
header .ab-navbar .ab-navbar-group .ab-navbar-group-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
header .ab-navbar .ab-navbar-group .ab-navbar-group-item:hover {
  cursor: pointer;
}
header .ab-navbar .ab-navbar-menu {
  display: flex;
}
header .ab-navbar .ab-navbar-menu .ab-navbar-menu-border {
  display: flex;
}
header .ab-navbar .ab-navbar-menu .ab-navbar-menu-border .ab-navbar-menu-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 20px;
  margin: 4px;
  border: 1px solid #333333;
  padding: 2px;
  border-radius: 4px;
}
header .ab-navbar .ab-navbar-menu .ab-navbar-menu-border .ab-navbar-menu-button .ab-navbar-menu-item {
  width: 100%;
  height: 3px;
  background: #333333;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}
header .ab-navbar .ab-navbar-menu:hover .ab-navbar-menu-button .ab-navbar-menu-item:nth-child(1) {
  transform: rotate(45deg) translate(3px, 2px);
}
header .ab-navbar .ab-navbar-menu:hover .ab-navbar-menu-button .ab-navbar-menu-item:nth-child(2) {
  display: none;
}
header .ab-navbar .ab-navbar-menu:hover .ab-navbar-menu-button .ab-navbar-menu-item:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -2px);
}

section .ab-landing-page {
  width: 100%;
  height: 100%;
  background: url(/images/plane_mountains-HD.jpg) center bottom no-repeat;
}
section .ab-landing-page .ab-landing-page-banner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .ab-landing-page .ab-landing-page-banner .ab-landing-page-layer {
  display: flex;
  background: rgba(22, 22, 22, 0.5);
  width: 100%;
  justify-content: center;
}
section .ab-landing-page .ab-landing-page-banner .ab-landing-page-layer .ab-landing-page-logo {
  max-width: 10em;
}
section .ab-landing-page .ab-landing-page-banner .ab-landing-page-layer .ab-landing-page-title {
  align-self: center;
  line-height: 2em;
  font-size: 2em;
}
