.business-card
    display: flex
    flex-direction: column
    align-items: center
    background: #5F5F5F
    width: 50vw
    @media only screen and (max-width: $tabletLarge)
        width: 40vw
    @media only screen and (max-width: $tabletMedium)
        width: 60vw
    @media only screen and (max-width: $phone)
        width: 100vw
    .business-card-logo
        img
            width: 100%
            height: auto
    .business-card-plate
        @include fx-column
        padding: .3em
        .business-card-plate-entry
            @include fx-row
    .business-card-decription
        @include fx-column
        p
