nav.ab-navbar
    .ab-navbar-menu-bar
        .ab-navbar-menu-brand
            img.ab-brand(src="images/my_logo_trans.png")
        .ab-navbar-list
            .ab-navbar-group
                .ab-navbar-group-item#nav-php-mysql
                    .ab-navbar-link
                        span
                            a(href="#backend") Backend
                .ab-navbar-group-item#nav-javascript
                    .ab-navbar-link
                        span
                            a(href="#frontend") Frontend
                .ab-navbar-group-item#nav-aboutme
                    .ab-navbar-link
                        span
                            a(href="#aboutme") Über Mich
        .ab-navbar-menu-button-bar
            .ab-navbar-menu-button#menu-button(data-activity="false")
                .ab-navbar-menu-border
                    .ab-navbar-menu-item
                    .ab-navbar-menu-item
                    .ab-navbar-menu-item