@mixin box-transform($string)
    -webkit-transform: $string
    -moz-transform:    $string
    -ms-transform:     $string
    transform:         $string
@mixin touchScroll()
    -webkit-overflow-scrolling: touch
    -mox-overflow-scrolling: touch
    -ms-overflow-scrolling: touch
.stage
    position: fixed
    overflow: hidden
    width: 100vw
    height: 100vh
    perspective: 100vw
    .box
        position: absolute
        width: 100%
        height: 100%
        transform-style: preserve-3d
        transform: translateZ(-100vw)
        .page
            //position: absolute
            width: 100vw
            height: 100vh
            overflow: auto
        .page.front
            +box-transform(rotateY(0deg) translateZ(100vw))
            background: rgba(46, 255, 32, 0.49)
        .page.right
            +box-transform(rotateY(90deg) translateZ(100vw))
            background: rgba(250, 255, 98, 0.47)
        .page.left
            +box-transform(rotateY(-90deg) translateZ(100vw))
            background: rgba(255, 153, 104, 0.48)
        .page.back
            +box-transform(rotateY(180deg) translateZ(100vw))
            background: rgba(255, 52, 183, 0.49)
        .page.top
            +box-transform(rotateX(90deg) translateZ(100vw))
            background: rgba(62, 142, 255, 0.53)
        .page.bottom
            +box-transform(rotateX(-90deg) translateZ(100vw))
            background: rgba(65, 255, 200, 0.51)