@import 'components/variables'

*
    margin: 0
    padding: 0
    text-decoration: none
    list-style-type: none
    font-family: 'Raleway', sans-serif
    letter-spacing: .03em
html
    font-size: 62.5%

img
    max-width: 100%
    max-height: 100%
a
    color: $fontColor
a:link
    color: $fontColor

@import 'components/entrance'
@import 'components/cardsite'
@import 'components/section'
@import 'components/footer'
