<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
        <link rel="shortcut icon" type="image/x-icon" href="{{ favicon.src.default }}">
        <title>Andreas Brehm</title>
    </head>
    <body>
    <img src="{{ logo.src.default }}" alt="{{ logo.alt }}">
        <h1>NUR EIN TEST2</h1>
    </body>
{#    <script type="text/javascript" src="bundle.js" async></script>#}
</html>