<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
        <meta name="author" content="Andreas Brehm">
        <link rel="shortcut icon" type="image/x-icon" href="{{ favicon.src }}">
        <link rel="stylesheet" href="style.css">
        <title>Andreas Brehm</title>
    </head>
    <body class="stage" data-orientation="stage">
        <main class="box" data-orientation="box">
            <div data-orientation="front" class="page front">
                <div class="business-card">
                    <div class="business-card-logo">
                        <img src="{{ logo.src }}" alt="{{ logo.alt }}">
                    </div>
                    <div class="business-card-plate">
                        <div class="business-card-plate-entry"><span>Andreas Brehm</span></div>
                        <div class="business-card-plate-entry"><span>Webdeveloper</span></div>
                    </div>
                    <div class="business-card-decription">
                        <p>Hallo, ich bin Andreas Brehm, 33 Jahre alt, und habe schon insgesamt fünf Jahre Erfahrung, als Webentwickler, Erfahrung sammeln können.</p>
                    </div>
                </div>
            </div>
            <div data-orientation="left" class="page right"></div>
            <div data-orientation="right" class="page left"></div>
            <div data-orientation="back" class="page back"></div>
            <div data-orientation="top" class="page top"></div>
            <div data-orientation="bottom" class="page bottom"></div>
        </main>
    </body>
</html>