<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
        <meta name="author" content="Andreas Brehm">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/1512913768.ico">
        <link rel="stylesheet" href="/build/style.css">
        <title>Andreas Brehm</title>
    </head>
    <body id="stage" class="stage" data-identity="stage">
        <main id="box" class="box" data-identity="box">
            <div id="front" data-identity="front" class="page front">
                <div class="business-card">
                    <div class="business-card-logo">
                        <img src="/assets/images/my_logo_clear.png" alt="Logo Andreas Brehm">
                    </div>

                    <div class="business-card-plate">
                        <div class="business-card-plate-entry"><span>Andreas Brehm</span></div>
                        <div class="business-card-plate-entry"><span>Webdeveloper</span></div>
                    </div>
                    <div class="business-card-decription">
                        <p>Hallo, ich bin Andreas Brehm, 33 Jahre alt, und habe schon insgesamt fünf Jahre Erfahrung, als Webentwickler, Erfahrung sammeln können.</p>
                        <p>Hallo, ich bin Andreas Brehm, 33 Jahre alt, und habe schon insgesamt fünf Jahre Erfahrung, als Webentwickler, Erfahrung sammeln können.</p>
                        <p>Hallo, ich bin Andreas Brehm, 33 Jahre alt, und habe schon insgesamt fünf Jahre Erfahrung, als Webentwickler, Erfahrung sammeln können.</p>
                        <p>Hallo, ich bin Andreas Brehm, 33 Jahre alt, und habe schon insgesamt fünf Jahre Erfahrung, als Webentwickler, Erfahrung sammeln können.</p>
                        <p>Hallo, ich bin Andreas Brehm, 33 Jahre alt, und habe schon insgesamt fünf Jahre Erfahrung, als Webentwickler, Erfahrung sammeln können.</p>

                    </div>
                </div>
            </div>
            <div id="left" data-identity="left" class="page left">
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
            </div>
            <div id="right" data-identity="right" class="page right">
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
            </div>
            <div id="back" data-identity="back" class="page back">
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
                <h1>Das ist nur ein Test</h1>
            </div>
        </main>
        <script src="/build/bundle.js"></script>
    </body>
</html>