html(lang="de")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no")
        link(rel="shortcut icon" type="image/x-icon" href="images/1512913768.ico")
        title Andreas Brehm
        link(rel="stylesheet" href="css/style.css")
    body
        header
            .ab-banner
                .ab-banner-logo-container
                    img.ab-banner-logo(src="images/my_logo_trans.png")
                .ab-banner-title-container
                    .ab-banner-title-name Andreas Brehm
                    .ab-banner-title-profession Webentwickler
                .ab-banner-social-container
                    .ab-banner-social-item
                        a.ab-banner-social-link(href="mailto:jobs@andreasbrehm.online")
                            img.ab-banner-social-image(src="images/social/email.png")
                            span.ab-banner-social-titel Email
                    .ab-banner-social-item
                        a.ab-banner-social-link(href="https://telegram.me/AndreasBrehm" target="_blank")
                            img.ab-banner-social-image(src="images/social/t_logo.png")
                            span.ab-banner-social-titel Telegram
                    .ab-banner-social-item
                        a.ab-banner-social-link(href=whatsappLink target="_blank")
                            img.ab-banner-social-image(src="images/social/whatsapp.png")
                            span.ab-banner-social-titel Whatsapp
        //- section.ab-section#welcome
        //-     .ab-section-container
        //-         .ab-section-panel
        //-             .ab-panel-header.ab-panel-item
        //-                 span Vorwort
        //-             .ab-panel-body.ab-panel-item
        //-                 p Ich heiße Sie herzlich willkommen auf meiner Homepage und nutze diese Webpräsenz, um mich als Webentwickler vorzustellen.
        //- section.ab-section#php-mysql
        //-     .ab-section-container
        //-         .ab-section-panel
        //-             .ab-panel-header.ab-panel-item
        //-                 span Backend
        //-             .ab-panel-body.ab-panel-item
        //-                 p Schon in meiner Ausbildung zum Fachinformatiker hatte ich mich mit serverseitigen Programmiersprachen, speziell PHP, beschäftigt und damit meine Abschlussprüfung (leichtes Content-Management-System) zustande gebracht. Ich beschäftige mich gerne weiterhin mit den Dingen die normale Nutzer nicht sehen, die aber funktionieren müssen um einen reibungslosen Gebrauch eines Services bereitstellen zu können.
        //-                 p Zu meinen essentiellen Bereichen gehört die vollständige Administration eines Debian-artigen Servers. Zusätzlich beschäftige ich mich intensiv mit den Softwaretechnologien um auch die Vorteile der Objektorientierten Programmierung innerhalb der Webentwicklung zu nutzen. Selbstverständlich wird auch fertige Software, in Form von Frameworks, gerne eingesetzt um unter anderem das Rad nicht neu erfinden zu müssen und gleichzeitig wirtschaftlich zu bleiben.
        //- section.ab-section#javascript
        //-     .ab-section-container
        //-         .ab-section-panel
        //-             .ab-panel-header.ab-panel-item
        //-                 span Frontend
        //-             .ab-panel-body.ab-panel-item
        //-                 p Im Gegensatz zum Backend, wo ich die Erfahrungen mithilfe von Arbeitgebern erlangte, beschäftige ich mich mit Webdesign größtenteils autodidaktisch in meiner Freizeit. Natürlich möchte man sich mit den neuesten Techniken und Technologien, wie HTML5 und CSS3 beschäftigen - nur ist das nicht immer möglich wenn man als Beispiel an die Email denkt. Dort hat sich ein Standard etabliert der eher auf älteren Versionen von HTML beruht und einem die Entwicklung nicht gerade erleichtert.
        //-                 p Da heutzutage die mobile Nutzung einer Webseite im Vordergrund steht und der Desktop-Bereich weiter in den Hintergrund rückt, muss man sich gezielt mit Responsive Webdesign beschäftigen, da die Digitalisierung weltweit voran schreitet.
        //-                 p Zu meinen Aufgaben gehört auch die Bildbearbeitung, im leichteren Umfang. Bei komplexeren Projekten bin ich auf die Meinung und Erfahrungen von Profis angewiesen.
        //- section.ab-section#aboutme
        //-     .ab-section-container
        //-         .ab-section-panel
        //-             .ab-panel-header
        //-                 span Über Mich
        //-             .ab-panel-body
        //-                 p Das Interesse und Faszination für IT hat als Hobby in meiner Jugendzeit angefangen. Damals hatten sich meine Eltern einen PC mit Windows 95 zugelegt, den ich natürlich erstmal auseinander nehmen wollte um zu schauen was es überhaupt ist. Schnell kam das Verständnis für Hardware, aber aus finanziellen Gründen standen Upgrades nicht an der Tagesordnung und so schwenkte ich meinen Fokus zunächst auf Computerspiele wie Counter Strike. Schnell stand das Spiel im Mittelpunkt, bei dem man immer besser werden wollte.
        //-                 p Zum Zeitpunkt meines Schulabschlusses rutschte der Computer immer weiter in der Hintergrund, da ich eine Ausbildung machen wollte. Anfänglich habe ich mich von meinen Eltern für den handwerklichen Bereich breitschlagen lassen. Nach einiger Zeit hatte ich auf Gastronomie umgeschwenkt und schnell bemerkt, dass die Branche durch Ausbeutung profiliert. Durch die Geburt meiner ersten Tochter kam auch der Entschluss das die Branche Gastronomie nicht mit dem Familienleben kombinierbar ist. So entschied ich mich eine Umschulung zum Fachinformatiker anzugehen, die ich dann auch absolviert hatte und die Entscheidung bisher nicht bereut hatte.
        //-                 p Fachinformatiker bedeutet an erster Stelle, sein Wissen und Erfahrungen immer aktuell zu halten und die diese effizient anzuwenden.
        //- script(src="jquery/jquery.min.js")
        //- script(src="js/workflow.js")