html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no")
        title Andreas Brehm
        link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.css")
    body
        header
            .jumbotron.jumbotron-fluid
                .container
                    h1.display-3 Halllchen
        section
            .container
                h1 bisherige Arbeit
        section
            .container
                h1 meine Interessen
        section
            .container
                h1 Über mich
        footer
            .container
                h1 Footer

        script(src="jquery/dist/jquery.js")
        script(src="bootstrap/dist/js/bootstrap.js")