html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no")
        link(rel="shortcut icon" type="image/x-icon" href="images/1512913768.ico")
        title Andreas Brehm
        link(rel="stylesheet" href="css/style.css")
    body
        header
            nav.ab-navbar
                .ab-navbar-menu-bar
                    .ab-navbar-menu-brand
                        img.ab-brand(src="images/my_logo_trans.png")
                    .ab-navbar-list
                        .ab-navbar-group
                            .ab-navbar-group-item#previous
                                .ab-navbar-link
                                    span bisherige Arbeit
                            .ab-navbar-group-item#aims
                                .ab-navbar-link
                                    span berufliche Ziele
                            .ab-navbar-group-item#about
                                .ab-navbar-link
                                    span Über Mich
                    .ab-navbar-menu-button-bar
                        .ab-navbar-menu-button#menu-button(data-activity="false")
                            .ab-navbar-menu-border
                                .ab-navbar-menu-item
                                .ab-navbar-menu-item
                                .ab-navbar-menu-item
            .ab-cardsite
                .ab-cardsite-banner
                    .ab-cardsite-layer
                        .ab-cardsite-container
                            .ab-cardsite-logo-container
                                img.ab-cardsite-logo(src="images/my_logo_trans.png")
                            .ab-cardsite-title-container
                                span.ab-cardsite-title-name Andreas Brehm
                                span.ab-cardsite-title-profession Fachinformatiker seit 2014
                                span.ab-cardsite-title-specialization Anwendungsentwicklung
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span Willkommen
                    .ab-panel-body.ab-panel-item
                        p Willkommen auf meine InternetSeite. Im Weiteren Verlauf können sie über mich und meine Beruf etwas erfahren.
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span PHP + MySQL
                    .ab-panel-body.ab-panel-item
                        p Hier kommt etwas Text Rein
                    .ab-panel-footer.ab-panel-item
                        p Hier kommt eine Liste rein
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span NodeJS + jQuery + CSS3
                    .ab-panel-body.ab-panel-item
                        p Hier kommt etwas Text Rein
                    .ab-panel-footer.ab-panel-item
                        p Hier kommt eine Liste rein
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span Linux Server
                    .ab-panel-body.ab-panel-item
                        p Hier kommt etwas Text Rein
                    .ab-panel-footer.ab-panel-item
                        p Hier kommt eine Liste rein
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span Webdesign
                    .ab-panel-body.ab-panel-item
                        p Hier kommt etwas Text Rein
                    .ab-panel-footer.ab-panel-item
                        p Hier kommt eine Liste rein
        footer
            .ab-footer
                .ab-social
                    .ab-social-container
                        .ab-social-item
                            span Andreas Brehm
                        .ab-social-item
                            span Am Elisabethstein 20a
                        .ab-social-item
                            span 26215 Wiefelstede
                        .ab-social-delimiter
                        .ab-social-item
                            .ab-social-phone
                                .ab-social-phone-container
                                    label Telefon
                                    span 0441 77707916
                            .ab-social-telefax
                                label Telefax
                                span 0441 77707917
                    .ab-social-container
                        .ab-social-item
                            span Twitter
                        .ab-social-item
                            span Google
                        .ab-social-item
                            span Facebook
                        .ab-social-item
                            span Youtube
        script(src="jquery/jquery.js")
        script(src="js/workflow.js")