html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no")
        link(rel="shortcut icon" type="image/x-icon" href="images/1512913768.ico")
        title Andreas Brehm
        link(rel="stylesheet" href="css/style.css")
    body
        header
            .ab-navbar
                .ab-navbar-brand
                    img.ab-brand(src="images/my_logo_trans.png")
                .ab-navbar-group
                    .ab-navbar-group-item
                        a.ab-navbar-link bisherige Arbeit
                    .ab-navbar-group-item
                        a.ab-navbar-link berufliche Ziele
                    .ab-navbar-group-item
                        a.ab-navbar-link Über Mich
                .ab-navbar-menu
                    .ab-navbar-menu-border
                        .ab-navbar-menu-button
                            .ab-navbar-menu-item
                            .ab-navbar-menu-item
                            .ab-navbar-menu-item
        section
            .ab-landing-page
                .ab-landing-page-banner
                    .ab-landing-page-layer
                        img.ab-landing-page-logo(src="images/my_logo_trans.png")
                        span.ab-landing-page-title Andreas Brehm

        section
            .container
                h1 meine Interessen
        section
            .container
                h1 Über mich
        footer
            .container
                h1 Footer
        script(src="jquery/jquery.js")