html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no")
        link(rel="shortcut icon" type="image/x-icon" href="images/1512913768.ico")
        title Andreas Brehm
        link(rel="stylesheet" href="css/style.css")
    body
        header
            nav.ab-navbar
                .ab-navbar-menu-bar
                    .ab-navbar-menu-brand
                        img.ab-brand(src="images/my_logo_trans.png")
                    .ab-navbar-list
                        .ab-navbar-group
                            .ab-navbar-group-item#previous
                                .ab-navbar-link
                                    span bisherige Arbeit
                            .ab-navbar-group-item#aims
                                .ab-navbar-link
                                    span berufliche Ziele
                            .ab-navbar-group-item#about
                                .ab-navbar-link
                                    span Über Mich
                    .ab-navbar-menu-button-bar
                        .ab-navbar-menu-button#menu-button(data-activity="false")
                            .ab-navbar-menu-border
                                .ab-navbar-menu-item
                                .ab-navbar-menu-item
                                .ab-navbar-menu-item
            .ab-cardsite
                .ab-cardsite-banner
                    .ab-cardsite-layer
                        .ab-cardsite-container
                            .ab-cardsite-logo-container
                                img.ab-cardsite-logo(src="images/my_logo_trans.png")
                            .ab-cardsite-title-container
                                span.ab-cardsite-title-name Andreas Brehm
                                span.ab-cardsite-title-profession Fachinformatiker seit 2014
                                span.ab-cardsite-title-specialization Anwendungsentwicklung
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span Willkommen
                    .ab-panel-body.ab-panel-item
                        p Herzlich willkommen auf meiner Seite mit der ich mich als Webentwickler präsentieren möchte. Ich hoffe die Navigation ist selbsterklärend, ansonsten bin ich für Fragen oder Anregungen immer herzlich offen.
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span PHP + MySQL
                    .ab-panel-body.ab-panel-item
                        p Bisher arbeitete ich bei Unternehmen im Backend mit PHP, als Programmierer und Entwickler. Wer PHP sagt, muss auch Datenbank sagen. Mit PHP als Skriptsprache zu arbeiten ist zwar möglich, dabei alle Daten im Dokumenten-Format zu speichern. Aber bei weitem nicht so effizient wie mit einer Datenbank - MySQL. Natürlich sind viele andere Datenbank-Systeme zum Einsatz mit PHP möglich. Zuerst arbeitete ich mit Queries bis ich dann später Symfony und Doctrine für mich entdeckte.
                    .ab-panel-footer.ab-panel-item
                        ul.ab-panel-list
                            li.ab-panel-list-item Objektorientiertes Programmieren
                            li.ab-panel-list-item Storage
                            li.ab-panel-list-item Webservices
                            li.ab-panel-list-item XML
                            li.ab-panel-list-item Imagemanipulation
                            li.ab-panel-list-item PDF
                            li.ab-panel-list-item Security
                            li.ab-panel-list-item Authentification
                            li.ab-panel-list-item Debugging
                            li.ab-panel-list-item Apache
                            li.ab-panel-list-delimiter
                            li.ab-panel-list-item Symfony 3
                            li.ab-panel-list-item Doctrine 2
                            li.ab-panel-list-item Twig
                            li.ab-panel-list-item UML
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span NodeJS + jQuery + CSS3
                        span
                            a(href="https://github.com/AndreasBrehm/cardsite" target="_blank") Repository dieser Seite
                    .ab-panel-body.ab-panel-item
                        p Diese Seite habe ich auf Basis von NodeJS gebastelt, weil es ein sehr leicht zu handhabendes Framework ist. Animationen und Reaktionen auf Anwendereingaben gewinnen immer mehr an Bedeutung, da immer mehr Menschen ein Smartphone besitzen. Daher ist es, persönlich für mich, eine Interessante Entwicklungsumgebung, die komplett mit JavaScript anzuwenden ist. JavaScript kommt heutzutage sowohl auf dem Server, als auch auf dem Client zum Einsatz.
                    .ab-panel-footer.ab-panel-item
                        ul.ab-panel-list
                            li.ab-panel-list-item
                            li.ab-panel-list-item DOM-Manipulation
                            li.ab-panel-list-item Event-Handling
                            li.ab-panel-list-item Animations
                            li.ab-panel-list-item Callbacks
                            li.ab-panel-list-item Ajax
                            li.ab-panel-list-item Responsive Webdesign
                            li.ab-panel-list-item Media Queries
                            li.ab-panel-list-item Flexbox
                            li.ab-panel-list-item Grid
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span Linux Server
                    .ab-panel-body.ab-panel-item
                        p Im meinem ersten Job nach der Ausbildung, kam ich das erste mal so richtig mit Linux als Server und Desktop in Berührung. Beim Server kam anfänglich Debian zum Einsatz, später verwendete ich Ubuntu für beide Bereiche. Heute kann ich auf Ubuntu bei der Arbeit nicht verzichten -  Es solides Betriebssystem.
                    .ab-panel-footer.ab-panel-item
        section.ab-section
            .ab-section-container
                .ab-section-panel
                    .ab-panel-header.ab-panel-item
                        span Webdesign
                    .ab-panel-body.ab-panel-item
                        p Im Webdesign konzentriere ich mich eher auf User Experience und User Interface, daher ist mein Design funktional und eher logischer Natur. Damit beschränke ich mich eher auf die Umsetzung der Basics.
                    .ab-panel-footer.ab-panel-item
                        ul.ab-panel-list
                            li.ab-panel-list-item
        footer
            .ab-footer
                .ab-social
                    .ab-social-container
                        .ab-social-item
                            span Andreas Brehm
                        .ab-social-item
                            span Am Elisabethstein 20a
                        .ab-social-item
                            span 26215 Wiefelstede
                        .ab-social-delimiter
                        .ab-social-item
                            .ab-social-phone
                                .ab-social-phone-container
                                    label Telefon
                                    span +49 441 77707916
                    .ab-social-container
                        .ab-social-item
                            span
                                a(href="https://twitter.com/BrehmAndreas" target="_blank") Twitter
                        .ab-social-item
                            span
                                a(href="https://plus.google.com/u/0/111100229847445311610" target="_blank") Google
                        .ab-social-item
                            span
                                a(href="https://www.youtube.com/channel/UCk-7sMIjF32dVa4kXjFMhnQ" target="_blank") Youtube
        script(src="jquery/jquery.js")
        script(src="js/workflow.js")